body{
    background: #c1b094;
    color: #35261f;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    
}

header{
    position: sticky;
    background: #35261f;
    color: #c1b094;
    height: 75px;
    width: 100%;
    top: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: #c1b094;
    margin: 20px;
    
}